:root {
  --color-text: #263238;
	--color-background:#eee;
}

body {
	padding: 0em; 
	margin: 0em;
}

/*opmaak voor navigatiebalk*/
header ul {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1.5em 1em; 
    list-style-type: none;
    margin: 0;
  }
  
header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MontMedium, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1em; 
    text-decoration: none;
    color: #1f2e53;
    gap: 0.5em; 
    padding: 0.8em;
  }
  
  header ul li a:hover {
    color: #6ede92;  
  }
  
  header ul li:first-child img {
    width: 9.375em; 
    height: auto;
    transition: 0.3s;
  }
  
  header ul li:first-child img:hover {
    width: 9.6875em; 
  }
  
  header ul li img {
    width: 1.625em; 
    cursor: pointer;
  }
  
  /* Align the last three links to the right */
  header ul li:nth-of-type(3) {
    margin-left: auto; /* Pushes these items to the right */
  }

  @media (width < 52em) {
    header ul li a span{
      display: none;
    }
    header ul li:nth-of-type(3) {
      margin-left: 0; /* Pushes these items to the right */
    }
    header ul li:first-child {
      margin-right: auto; /* Pushes the rest to the right */
    }
    header ul {
      gap: 0;
    }
  }

/****************/
/*Opmaak section 1*/
/****************/
.hidetext {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main > section:nth-of-type(1)  {
  background-color: #ECEEF1;
}

main > section:nth-of-type(1) section:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  gap: 0.5em;
}

main > section:nth-of-type(1) section:nth-of-type(1) form label{
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  border: none;
  box-shadow: 0em 0.1em 0.2em rgba(0, 0, 0, 0.2);
  padding: 0.75em 1.5em;
}

main > section:nth-of-type(1) section:nth-of-type(2) p {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/********************/
/* opmaak section 2 */
/********************/
main > section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4em;
  padding: 1em 2em;
  margin: 0;
}  

main > section:nth-of-type(2) ul > li {
	display: grid;
  justify-items: center;
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 0.01em solid;
  border-color: #DCDCDC;
  box-sizing: border-box;
}

main > section:nth-of-type(2) ul > li:hover {
  box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

main > section:nth-of-type(2) ul > li img {
  grid-row-start: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1/1;
  z-index: 0;
}

main > section:nth-of-type(2) ul > li h2 {
  grid-row-start: 2;
  justify-items: center;
  align-items: center;
  font-family: MontBold, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #263238;
  line-height: 1.5em;
  margin: 0;
}

main > section:nth-of-type(2) ul > li p {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #263238;
  line-height: 2em;
  padding: 0;
  margin: 0;
}

main > section:nth-of-type(2) ul > li p img{
  width: 2.5em;
  height: 2.5em;
}

main > section:nth-of-type(2) ul > li > p:nth-of-type(2) {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%
}

/*overlay img text*/
main > section:nth-of-type(2) ul > li > div:first-of-type {
  background-color: #6ede92;
  border-radius: 0em 1em 1em 0em;
  grid-area: 1/1;
  justify-self: start; /* Align to the left */
  align-self: end; /* Center vertically */
  width: auto; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  z-index: 1;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.5em;
}

main > section:nth-of-type(2) ul > li > div:first-of-type p strong {
  font-family: MontBold, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #263238;
  margin: 0;
}

main > section:nth-of-type(2) ul > li > div:first-of-type p {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #263238;
  line-height: 1.5em;
}

/*opmaak buttons*/
main > section:nth-of-type(2) ul > li > menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  margin: 0;
  box-sizing: border-box;
}

main > section:nth-of-type(2) ul > li > menu li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  border: 0.01em solid;
  border-color: #DCDCDC;
  border-radius: 0.2em;
}

main > section:nth-of-type(2) ul > li > menu li button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #263238;
  padding: 0.3em 0em;
  cursor: pointer;
}

main > section:nth-of-type(2) ul > li > menu li button img {
  width: 2.5em;
  height: auto;
  object-fit: cover; 
}

main > section:nth-of-type(2) ul > li > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
}

main > section:nth-of-type(2) ul > li > div:nth-of-type(2) p:nth-of-type(1) {
  margin-bottom: 1em;
}

.container { 
  background-color: #DCDCDC; 
  height: 0.35em;
  width: 90%; 
  border-radius: 1em; 
} 

.skill { 
  background-color: #6ede92; 
  color: white; 
  height: 0.35em;
  border-radius: 1em; 
} 

.html { 
  width: 80%; 
}
/*source: https://www.geeksforgeeks.org/how-to-create-a-progress-bar-using-html-and-css/*/
@media (width > 47em) {
	main > section:nth-of-type(2) ul {
		grid-template-columns: repeat(2, 1fr);
	  } 
}

@media (width > 68em) {
	main > section:nth-of-type(2) ul {
		grid-template-columns: repeat(3, 1fr);
	  } 
}

@media (width > 93em) {
	main > section:nth-of-type(2) ul {
		grid-template-columns: repeat(4, 1fr);
	  } 
}


/*****************/
/* opmaak footer */
/*****************/
footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: #1f2e53;
	color: white;
	padding: 4em 1em;
	margin-top: 4em;
  }

  footer section {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 33%;
	padding: 1em;
  }

  footer p {
	font-family: MontNormal, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
  }

  footer h2 {
	font-family: MontMedium, Arial, Helvetica, sans-serif;
  }

  footer a {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  footer a img {
	width: 1em;
	height: auto;
  }

  footer section a{
	display: flex;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
    font-family: MontNormal, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    padding-bottom: 1em;
  }

  footer a:hover {
	text-decoration: underline;
  }

  @media (width < 52em) {
    footer {
      flex-direction: column;
      align-items: baseline;
    }
    footer section {
      width: auto;
    }
  }
  
  /*******/
  /*fonts*/
  /*******/
@font-face {
  font-family: MontNormal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf');
}
    
@font-face {
  font-family: MontMedium;
  font-weight: 600;
  src: url('../fonts/Montserrat-Medium.ttf');
}
    
@font-face {
  font-family: MontBold;
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.ttf');
}
  
@font-face {
  font-family: MontLight;
  font-weight: normal;
  src: url('../fonts/Montserrat-Light.ttf');
}