:root {
  --primary-color: white;
  --seconday-color: #6ede92;
  --tertiary-color: #263238;
  --quaternary-color: #ECEFF1;
  --quinary-color: #DCDCDC;
}

.dark-theme{
  --primary-color: #263238;
  --seconday-color: #0d1c13;
  --tertiary-color: #ECEFF1;
  --quaternary-color: #08120c;
  --quinary-color: #08120c;
}

body {
  background-color: var(--primary-color);
	padding: 0em; 
	margin: 0em;
}

/*opmaak voor navigatiebalk*/
header ul {
	display: flex;
	align-items: center;
	padding: 1.5em 1em; 
	list-style-type: none;
	margin: 0;
	}

header ul li:first-child {
	margin-right: auto;
	}
	  
header ul li a span{
	display: none;
	gap: 0.5em;
	}
	  
header ul li a:hover {
	color: #6ede92;  
	}
	  
header ul li:first-child img {
	width: 100%;
  max-width: 6.5em;
	height: auto;
	transition: 0.3s;
  padding: 0;
	}
	  
header ul li:first-child img:hover {
	width: 7em; 
	}
	  
header ul li img {
	width: 1.625em; 
	cursor: pointer;
  	padding-left: 1em;
	box-sizing: content-box;
}

body.dark-theme header nav ul li:nth-of-type(2) img,
body.dark-theme header nav ul li:nth-of-type(3) img,
body.dark-theme header nav ul li:nth-of-type(4) img,
body.dark-theme header nav ul li:nth-of-type(5) img{
  filter: invert(1);
}

#darkmode {
  width: 1.625em;
  cursor: pointer;
  padding-right: 0.5em;
}

@media (width > 50em) {
	header ul{
		gap: 0.5em;
	}

  header ul li:first-child {
    margin-right: 0;
    }

	header ul li:nth-of-type(3) {
		margin-left: auto;
		}

	header ul li a span {
		display: flex;
		}

	header ul li a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: MontMedium, Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-size: 1em; 
		text-decoration: none;
		color: var(--tertiary-color);
		gap: 0.5em; 
		padding: 0.8em;
		}

  header ul li img {
    padding: 0;
  }
}

/* hamburger menu */
#hamburger-menu {
	position: absolute;
	display: none;
  background-color: var(--primary-color);
  width: 100%;
	z-index: 1000;
	margin: 0;
	padding-bottom: 100%;
}

#hamburger-menu ol li {
	font-family: MontBold ,Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	color: var(--quinary-color);
	line-height: 2.5em;
	color: var(--tertiary-color);
	list-style-type: none;
	cursor: pointer;
}

#hamburger-menu ol li:hover {
	color: #6ede92;
}

/* geklikt */
#hamburger-menu.active {
    display: block;
}

/****************/
/*Opmaak section 1*/
/****************/
.hidetext {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main > section:nth-of-type(1)  {
  background-color: var(--quaternary-color);
}

main > section:nth-of-type(1) section:nth-of-type(1) {
  padding: 1em 1em 0em;
}

main > section:nth-of-type(1) section:nth-of-type(1) form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, auto));
  gap: 0.2em;
  justify-content: start;
}

main > section:nth-of-type(1) section:nth-of-type(1) form label select{
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
  border: none;
  border-radius: 0.2em;
  background-color: var(--primary-color);
  box-shadow: 0em 0.1em 0.2em rgba(0, 0, 0, 0.2);
  padding: 0.75em 1.5em;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

main > section:nth-of-type(1) section:nth-of-type(1) form label select option {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
}

/*******opmaak deel 2 section 1*******/
main > section:nth-of-type(1) section:nth-of-type(2){
  background-color: var(--quaternary-color);
  display: grid;
  padding: 0 2em;
}

main > section:nth-of-type(1) section:nth-of-type(2) p {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
  line-height: 1.5em;
  margin: 0;
}

main > section:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(1) {
  margin: 1.5em 0 0;
}

main > section:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(1) span {
  font-family: MontBold, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
} 

main > section:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(1) label select{
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
  line-height: 1.5em;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main > section:nth-of-type(1) section:nth-of-type(2) form{
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
  line-height: 1.5em;
  text-align: right;
  grid-column-start: 1;
  margin: 1.5em 0;
}

main > section:nth-of-type(1) section:nth-of-type(2) form input[type="checkbox"] {
  cursor: pointer;
}

@media (width > 69em) {
  main > section:nth-of-type(1) section:nth-of-type(2) form{
    grid-column-start: 2;
    text-align: right;
  }
}
/********************/
/* opmaak section 2 */
/********************/
main > section:nth-of-type(2) p {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
  padding: 1em 2em 0;
  margin: 0;
}

main > section:nth-of-type(2) p label select {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0.5em 0 0.5em 0;
  border-width: 0.1em;
  border-radius: 0.3em;
}

/********************/
/* opmaak section 3 */
/********************/
main > section:nth-of-type(3) ul {
  display: grid;
  /*grid-template-columns: repeat(1, 1fr);*/
  grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));
  padding: 0;
  margin: 0;
}  

main > section:nth-of-type(3) ul > li {
	display: grid;
  justify-items: center;
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 0.01em solid;
  border-color: var(--quinary-color);
  box-sizing: border-box;
  margin: 1.5em 2em;
}

main > section:nth-of-type(3) ul > li:hover {
  box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

main > section:nth-of-type(3) ul > li img {
  grid-row-start: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1/1;
  z-index: 0;
}

body.dark-theme main > section:nth-of-type(3) ul > li img:nth-child(1){
  filter: invert(1);
}

main > section:nth-of-type(3) ul > li h2 {
  grid-row-start: 2;
  justify-items: center;
  align-items: center;
  font-family: MontBold, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: var(--tertiary-color);
  line-height: 1.5em;
  margin: 0;
}

main > section:nth-of-type(3) ul > li p {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: var(--tertiary-color);
  line-height: 2em;
  padding: 0em 1em;
  text-align: center;
  margin: 0;
}

main > section:nth-of-type(3) ul > li p img{
  width: 2.5em;
  height: 2.5em;
  padding: 0 0.5em 0 0.5em;
}

main > section:nth-of-type(3) ul > li > p:nth-of-type(2) {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

main > section:nth-of-type(3) ul > li > p:nth-of-type(4) {
  padding-bottom: 1em;
}

/*overlay img text*/
main > section:nth-of-type(3) ul > li > div:first-of-type {
  background-color: var(--seconday-color);
  border-radius: 0em 0.3em 0.3em 0em;
  grid-area: 1/1;
  justify-self: start; 
  align-self: end; 
  width: auto;
  height: auto;
  z-index: 1;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.5em;
}

main > section:nth-of-type(3) ul > li > div:first-of-type p strong {
  font-family: MontBold, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: var(--tertiary-color);
  margin: 0;
}

main > section:nth-of-type(3) ul > li > div:first-of-type p {
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: var(--tertiary-color);
  line-height: 1.5em;
  text-align: left;
  padding: 0;
}

/*opmaak buttons*/
main > section:nth-of-type(3) ul > li > menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  margin: 0;
  box-sizing: border-box;
}

main > section:nth-of-type(3) ul > li > menu li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  border: 0.01em solid;
  border-color: var(--quinary-color);
  border-radius: 0.2em;
}

main > section:nth-of-type(3) ul > li > menu li button {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  font-family: MontNormal, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: var(--tertiary-color);
  padding: 0.3em 0em;
  cursor: pointer;
}

main > section:nth-of-type(3) ul > li > menu li button img {
  width: 2.5em;
  padding: 0em 0.5em;
  height: auto;
  object-fit: cover; 
}

body.dark-theme main > section:nth-of-type(3) ul > li > menu > li > img{
  filter: invert(1);
}

main > section:nth-of-type(3) ul > li > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
}

/* main > section:nth-of-type(3) ul > li > div:nth-of-type(2) p:nth-of-type(1) {
  margin-bottom: 1em;
} */

progress {
  height: 0.35em;
  width: 90%; 
  border-radius: 20em;
}

progress::-webkit-progress-bar {background-color: #DCDCDC; width: 100%;
                                border-radius: 20em;}
progress::-webkit-progress-value {background-color: #6ede92 !important;
                                  border-radius: 20em;}
/* source: https://stackoverflow.com/questions/18368202/how-can-i-set-the-color-for-the-progress-element */

/* .container { 
  background-color: #DCDCDC; 
  height: 0.35em;
  width: 90%; 
  border-radius: 1em; 
} 

.skill { 
  background-color: var(--seconday-color); 
  color: var(--primary-color); 
  height: 0.35em;
  border-radius: 1em; 
} 

.html { 
  width: 80%; 
} */
/*source: https://www.geeksforgeeks.org/how-to-create-a-progress-bar-using-html-and-css/*/

/* @media (width > 47em) {
	main > section:nth-of-type(3) ul {
		grid-template-columns: repeat(2, 1fr);
	  } 
}

@media (width > 68em) {
	main > section:nth-of-type(3) ul {
		grid-template-columns: repeat(3, 1fr);
	  } 
}

@media (width > 90em) {
	main > section:nth-of-type(3) ul {
		grid-template-columns: repeat(4, 1fr);
	  } 
}

@media (width > 100em) {
	main > section:nth-of-type(3) ul {
		grid-template-columns: repeat(auto-fill, minmax(40em, 1fr));
	  } 
} */


/*****************/
/* opmaak footer */
/*****************/
footer {
	display: flex;
	justify-content: space-between;
  flex-direction: column;
	align-items: baseline;
	background-color: #1f2e53;
	color: white;
	padding: 4em 1em;
	margin-top: 4em;
  }

  footer section {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: auto;
	padding: 1em;
  }

  footer p {
	font-family: MontNormal, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
  }

  footer h2 {
	font-family: MontMedium, Arial, Helvetica, sans-serif;
  }

  footer a {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  footer a img {
	width: 1em;
	height: auto;
  }

  footer section a{
	display: flex;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
    font-family: MontNormal, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    padding-bottom: 1em;
  }

  footer a:hover {
	text-decoration: underline;
  }

@media (width > 52em) {
    footer {
      flex-direction: row;
      align-items: baseline;
    }
    footer section {
      width: 33%;
    }
  }
  
  /*******/
  /*fonts*/
  /*******/
@font-face {
  font-family: MontNormal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf');
}
    
@font-face {
  font-family: MontMedium;
  font-weight: 600;
  src: url('../fonts/Montserrat-Medium.ttf');
}
    
@font-face {
  font-family: MontBold;
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.ttf');
}
  
@font-face {
  font-family: MontLight;
  font-weight: normal;
  src: url('../fonts/Montserrat-Light.ttf');
}