body {
  padding: 0.5em; 
}

/*opmaak voor navigatiebalk*/
ul {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1.5em 1em; 
  list-style-type: none;
  margin: 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1em; 
  text-decoration: none;
  color: #1f2e53;
  gap: 0.5em; 
  padding: 0.8em;
}

ul li a:hover {
  color: #6ede92;  
}

ul li:first-child img {
  width: 9.375em; 
  height: auto;
  transition: 0.3s;
}

ul li:first-child img:hover {
  width: 9.6875em; 
}

ul li img {
  width: 1.625em; 
  cursor: pointer;
}

/* Align the last three links to the right */
ul li:nth-of-type(3) {
  margin-left: auto; /* Pushes these items to the right */
}

/*opmaak body*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1.5em 0em 1.5em;
}

/*opmaak main*/
/* main {
  display: flex;
  flex-direction: row;
  width: 31.25em;
  padding: 2em 1em 4em; 
  background-color: white;
} */

main h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3.05em; /* 48.8px = 3.05em */
  color: #1f2e53;
  margin: 0px;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.25em; /* 20px = 1.25em */
  color: #1f2e53;
  margin: 1em 0px; /* 16px = 1em */
}

/*header button opmaak*/
main button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1em; 
  text-align: center;
  background-color: #6ede92;
  border: none;
  padding: 0.625em 1.25em; 
  width: 12em; 
  border-radius: 1em; 
  margin: 0.5em 0.5em 0px 0px;
  cursor: pointer;
  transition: 0.3s;
}

main button:hover {
  background-color: #4c9c66;
}

/*img opmaak*/
section div {
  padding: 32px 16px 64px;
}

section img {
  display: none;
  cursor: pointer;
}

/*4 knoppen opmaak*/
main ol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  background-color: white;
  gap: clamp(1em, 1vw, 3em);
}

main ol li {
  width: 12em;
  padding: 0.75em;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

main ol li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: black;
}

main ol li img {
  height: 2em;
  width: 2em;
  display: inline-block;
  position: relative;
  transition: transform 0.4s ease;
}

main ol li img:hover {
  transform: translateY(-0.4em);
}

main span {
  padding: 0.75em;
}

/* footer opmaak */
footer {
  display: flex;
  gap: 2em;
}

footer h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

footer section {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  width: 30%;
  background-color: #6ede92;
  border-radius: 1em;
}





@media (width > 52em) {
	section {
		display:grid;
		grid-template-columns:1fr 1fr;
	}
	section img {
		display:block;
		width:100%;
		height:clamp(16em, 50vw, 30em);
		object-fit:cover;
	} 
  /* bron: Sanne */
}

@media (width < 52em) {
  main ol {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

/*fonts*/
@font-face {
  font-family: 'Monteserrat';
  src: url('../fonts/Montserrat-Regular.ttf');

    font-style: normal;
}