:root {
    --color-text: #263238;
    --color-background:#eee;
  }
  


  /*******/
  /*fonts*/
  /*******/
  @font-face {
	font-family: MontNormal;
	font-weight: normal;
	src: url('../fonts/Montserrat-Regular.ttf');
}
  
@font-face {
	font-family: MontMedium;
	font-weight: 600;
	src: url('../fonts/Montserrat-Medium.ttf');
}
  
@font-face {
	font-family: MontBold;
	font-weight: bold;
	src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: MontLight;
	font-weight: normal;
	src: url('../fonts/Montserrat-Light.ttf');
}