/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */

	--primary-color: white;
	--seconday-color: #6ede92;
	--tertiary-color: #263238;
	--quaternary-color: #ECEFF1;
	--quinary-color: #263238;
  }
  
.dark-theme{
	--primary-color: #263238;
	--seconday-color: #0d1c13;
	--tertiary-color: #ECEFF1;
	--quaternary-color: #08120c;
	--quinary-color: #6ede92;
  }

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
body {
	background-color: var(--primary-color);
	padding: 0em; 
	margin: 0em;
}
  
/***************************/
/*opmaak voor navigatiebalk*/
/***************************/
header ul {
	display: flex;
	align-items: center;
	padding: 1.5em 1em; 
	list-style-type: none;
	margin: 0;
	}

header ul li:first-child {
	margin-right: auto;
	}
	  
header ul li a span{
	display: none;
	gap: 0.5em;
	}
	  
header ul li a:hover {
	color: #6ede92;  
	}
	  
header ul li:first-child img {
	width: 100%;
  max-width: 6.5em;
	height: auto;
	transition: 0.3s;
  padding: 0;
	}
	  
header ul li:first-child img:hover {
	width: 7em; 
	}
	  
header ul li img {
	width: 1.625em; 
	cursor: pointer;
  	padding-left: 1em;
	box-sizing: content-box;
}

body.dark-theme header nav ul li:nth-of-type(2) img,
body.dark-theme header nav ul li:nth-of-type(3) img,
body.dark-theme header nav ul li:nth-of-type(4) img,
body.dark-theme header nav ul li:nth-of-type(5) img{
	filter: invert(1);
}

#darkmode {
  width: 1.625em;
  cursor: pointer;
  padding-right: 0.5em;
}

@media (width > 50em) {
	header ul{
		gap: 0.5em;
	}

  header ul li:first-child {
    margin-right: 0;
    }

	header ul li:nth-of-type(3) {
		margin-left: auto;
		}

	header ul li a span {
		display: flex;
		}

	header ul li a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: MontMedium, Arial, Helvetica, sans-serif;
		font-weight: 600;
		font-size: 1em; 
		text-decoration: none;
		color: var(--tertiary-color);
		gap: 0.5em; 
		padding: 0.8em;
		}

  header ul li img {
    padding: 0;
  }
}

/* hamburger menu */
#hamburger-menu {
	position: absolute;
	display: none;
    background-color: var(--primary-color);
    width: 100%;
	z-index: 1;
	margin: 0;
	padding-bottom: 100%;
}

#hamburger-menu ol li {
	font-family: MontBold ,Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	color: var(--quinary-color);
	line-height: 2.5em;
	color: var(--tertiary-color);
	list-style-type: none;
}

/* geklikt */
#hamburger-menu.active {
    display: block;
}

/******************/
/*opmaak section 1*/
/******************/
main > section:nth-of-type(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0em 1.5em 0em 1.5em;
}

main {
	color: var(--tertiary-color);
}

main div h1 {
	font-family: MontBold, Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: var(--tertiary-color);
	font-size: 3.05em; 
	margin: 0em;
}
  
main div p {
	font-family: MontMedium, Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: var(--tertiary-color);
	font-size: 1.25em; 
	margin: 1em 0em; 
}
  
/**********************/
/*header button opmaak*/
/**********************/
main div a {
	font-family: MontMedium, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1em; 
	text-align: center;
	text-decoration: none;
	color: var(--tertiary-color);
	background-color: var(--seconday-color);
	border: none;
	padding: 0.625em 1.25em; 
	width: 12em; 
	border-radius: 1em; 
	margin: 0.5em 0.5em 0em 0em;
	cursor: pointer;
	transition: 0.3s;
}
  
main div a:hover {
	background-color: #4c9c66;
}
  
/************/
/*img opmaak*/
/************/
main > section:nth-of-type(1) div {
	padding: 2em 1em 4em;
}
  
main > section:nth-of-type(1) > img {
	display: none;
}

@media (width > 52em) {
	main > section:nth-of-type(1) {
		display:grid;
		grid-template-columns:1fr 1fr;
	}
	main> section:nth-of-type(1) img {
		display:block;
		width:100%;
		height:clamp(16em, 50vw, 30em);
		object-fit:cover;
		object-position: right;
	}
}

/******************/
/*section 2 opmaak*/
/******************/
main > section:nth-of-type(2) h2 {
	clip: rect(0 0 0 0);
  	clip-path: inset(50%);
  	height: 1px;
  	overflow: hidden;
  	position: absolute;
  	white-space: nowrap;
  	width: 1px;
} 
  /* bron: https://www.a11yproject.com/posts/how-to-hide-content/ */

main > section:nth-of-type(2) ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	background-color: var(--primary-color);
	gap: 1em;
	padding: 0;
}

main > section:nth-of-type(2) ol li {
	width: 8em;
	padding: 0.75em;
	text-align: center;
	border-radius: 1em;
	background-color:var(--primary-color);
	box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}
  
main > section:nth-of-type(2) ol li a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--tertiary-color);
	font-family: MontMedium, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1em;
}
  
main > section:nth-of-type(2) ol li img {
	height: 2em;
	width: 2em;
	display: inline-block;
	position: relative;
	transition: transform 0.4s ease;
}
  
main > section:nth-of-type(2) ol li img:hover {
	transform: translateY(-0.4em);
}
  
main > section:nth-of-type(2) span {
	padding: 0.75em 0;
}

body.dark-theme main > section:nth-of-type(2) ol li img {
	filter: invert(1);
  }
  
/********************/
/* section 3 opmaak */
/********************/
.hidetext {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main > section:nth-of-type(3) {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(17em, auto)); 
    justify-content: center;
    gap: 2em; 
	padding: 1em;
}

main > section:nth-of-type(3) > section {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    background-color: var(--seconday-color);
	border-radius: 1em;
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
}

main > section:nth-of-type(3) h2 {
    font-family: MontBold, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
	color: var(--tertiary-color);
    font-weight: 600;
    line-height: 1.5em;
	padding: 0 1em;
}

main > section:nth-of-type(3) > section > p:nth-of-type(3) {
    font-family: MontBold, Arial, Helvetica, sans-serif;
    font-size: 1em;
	color: var(--tertiary-color);
    margin: 0;
	padding: 0 1em;
}

main > section:nth-of-type(3) p {
    font-family: MontNormal, Arial, Helvetica, sans-serif;
    font-size: 1em;
	color: var(--tertiary-color);
    line-height: 1.5em;
    margin: 0 0 1em; 
	padding: 0 1em;
}

main > section:nth-of-type(3) a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    font-family: MontNormal, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--tertiary-color);
    padding: 0.5em 1em; 
}

main > section:nth-of-type(3) a:hover {
    text-decoration: underline;
}

main > section:nth-of-type(3) section img {
    width: 1.125em; 
    height: 1.125em; 
}

body.dark-theme main > section:nth-of-type(3) section img{
	filter: invert(1);
  }

/********************/
/* section 4 opmaak */
/********************/

main > section:nth-of-type(4) h2 {
	font-family: MontBold, Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: var(--tertiary-color);
	padding-left: 1em;
}

main > section:nth-of-type(4) ol {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15em, auto));
    gap: 1em;
    width: 100%;
    padding: 1em;
}

main > section:nth-of-type(4) ol li {
	display: grid;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    border-style: solid;
    border-width: .01em;
    border-color: var(--quinary-color);
}

main > section:nth-of-type(4) ol li h2 {
    grid-row-start: 3;
    font-family: MontMedium, Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    color: var(--tertiary-color);
    line-height: 1.5em;
    padding: 0 1em 1em 1em;
    margin: 0;
  }

main > section:nth-of-type(4) ol li p {
    font-family: MontLight, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: var(--tertiary-color);
    padding: 1em 1em 0.5em 1em;
    margin: 0;
  }

main > section:nth-of-type(4) ol li div {
	grid-row-start: 1;

    overflow: hidden;
  }

main > section:nth-of-type(4) ol li div img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: .3s;
  }

main > section:nth-of-type(4) ol li div img:hover {
    scale: 1.1;
  } 
  
main > section:nth-of-type(4) a {
	display: flex;
	flex-direction: column; /* Stack children vertically */
	align-items: center;
	font-family: MontMedium, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1em; 
	text-align: center;
	text-decoration: none;
	color: var(--tertiary-color);
	background-color: var(--seconday-color);
	border: none;
	padding: 0.625em 1.25em; 
	width: 15em; 
	border-radius: 1em; 
	cursor: pointer;
	transition: 0.3s;
	margin: 0 auto;
}
	  
main > section:nth-of-type(4) a:hover {
	background-color: #4c9c66;
}

@media (width > 37.5em) {
	main > section:nth-of-type(4) h2{
		padding-left: 4em;
	}
}

/*****************/
/* opmaak footer */
/*****************/
footer {
	display: flex;
	justify-content: space-between;
 	flex-direction: column;
	align-items: baseline;
	background-color: #1f2e53;
	color: white;
	padding: 4em 1em;
	margin-top: 4em;
  }

  footer section {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: auto;
	padding: 1em;
  }

  footer p {
	font-family: MontNormal, Arial, Helvetica, sans-serif;
	color: white;
	line-height: 1.5em;
	margin: 0;
  }

  footer h2 {
	font-family: MontMedium, Arial, Helvetica, sans-serif;
	color: white;
  }

  footer a {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  footer a img {
	width: 1em;
	height: auto;
  }

  footer section a{
	display: flex;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
    font-family: MontNormal, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    padding-bottom: 1em;
  }

  footer a:hover {
	text-decoration: underline;
  }

@media (width > 52em) {
    footer {
      flex-direction: row;
      align-items: baseline;
    }
    footer section {
      width: 33%;
    }
  }

  /* bron: Sanne */

  /*******/
  /*fonts*/
  /*******/
@font-face {
	font-family: MontNormal;
	font-weight: normal;
	src: url('../fonts/Montserrat-Regular.ttf');
}
  
@font-face {
	font-family: MontMedium;
	font-weight: 600;
	src: url('../fonts/Montserrat-Medium.ttf');
}
  
@font-face {
	font-family: MontBold;
	font-weight: bold;
	src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: MontLight;
	font-weight: normal;
	src: url('../fonts/Montserrat-Light.ttf');
}
